#以'#'开始的行，被视为注释.                                                                                         

#忽略的目录
/STM32/Control/Project/EWARM/Debug
/STM32/Control/Project/EWARM/Release
                             
*.*
!.gitignore
!*.s
!*.asm
!*.c
!*.cpp
!*.h
!*.xlsx

#Quartus文件
!*.v
!*.ppf
!*.qip
!*.qpf


#VC文件
!*.sln
!*.vcxproj
!*.vdproj

!*.bmp
!*.rc
!*.rc2
!*.ico
!*.ini
!*.dll

!*.aps

!*.txt


#Keil工程文件
!*.uvproj
!*.uvopt
!*.Uv2
!*.Opt
!*.ini
!*._ia


#IAR工程文件
!*.ewd
!*.ewp
!*.eww
#Android工程文件
!*.java
!*.xml
!*.project
!*.properties
!*.txt
!*.classpath
!*.png
!*.jpg

#忽略所有生成的 html文件,
#*.html

#foo.html是手工维护的，所以例外.
#!foo.html

# 忽略所有.o和 .a文件.
#*.[oa]



 
